<h3>Update Product</h3>
<form action="/api/products/{{product._id}}" method="put">
    <input type="hidden" name="id" value="{{product._id}}">
    
    <label for="">{{product._id}}</label>
    Title: <input type="text" name="title" value="{{product.title}}" id="title">
    <br>
    Description: <input type="text" name="description" value="{{product.description}}" id="description">
    <br>
    Code: <input type="text" name="code" id="code" value="{{product.code}}">
    <br>
    Price: <input type="number" name="price" id="price" value="{{product.price}}">
    <br>
    Stock: <input type="number" name="stock" id="stock" value="{{product.stock}}">
    <br>
    Category: <input type="text" name="category" id="category" value="{{product.category}}">
    <br>    
   
    <input type="submit" value="Add">
    <p>Ejemplo:
        "title":"Smartphone",
        "description":"Samsung",
        "code":"port12",
        "price":3500,
        "stock":5,
        "category":"celulares",
        "thumbnails":["https://cdn-iibml.nitrocdn.com/mIsZFyqRlkiNfZRugfIBKtdyexDtafZx/assets/images/optimized/rev-99e5996/image/cache/catalog/products_2023/samsung-galaxy-a14-black-1-800x800.png"],
        "owner":"asdasd@gmail.com"
    </p>
    
</form>



